<?xml version="1.0" encoding="utf-8" ?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <settings>
    <setting useStatementNamespaces="false" />
    <setting cacheModelsEnabled="true" />
    <setting validateSqlMap="true" />
  </settings>

  <database>
	  <provider name="sqlServer4.0" />
	  <!--//can set string connect in here, you should use default and config it in web.config and load in src-->
	  <dataSource name="SalesData" connectionString="Data Source=(local);Initial Catalog=4.0.0.0.LOCAL.JetsonWebPortal;Integrated Security=True"/>
	  <!--<dataSource name="dbconnection" connectionString="Data Source= USER\SQLEXPRESS; Integrated Security=true;Initial Catalog=ShopDB; uid=ShopAcc; Password=12345;" providerName="System.Data.SqlClient" />-->
  </database>

  <sqlMaps>
	  <sqlMap resource="./Config/Item.xml"/>
	  <sqlMap resource="./Config/Address.xml"/>
	  <sqlMap resource="./Config/CustomerInfo.xml"/>
    <sqlMap resource="./Config/UserInfo.xml"/>
	  
  </sqlMaps>
</sqlMapConfig>